        <aside class="sidebar">
            <div class="logo">
                <h1><img src="/img/icon.png" alt=""><span>Book</span>Flow</h1>
            </div>
            <div class="nav-items">
                <div class="item">
                    <a href="/"><span class="material-symbols-outlined"> search </span>Search & Home</a>
                </div>
                <div class="item">
                    <a href="/want"><span class="material-symbols-outlined"> bookmark </span>Want to Read</a>
                </div>
                <div class="item">
                    <a href="/review"><span class="material-symbols-outlined"> bookmark_star </span>Finished Reading</a>
                </div>
            </div>
        </aside>